dshtml {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: rgb(157, 254, 255);
  background: linear-gradient(
    0deg,
    rgba(157, 254, 255, 1) 0%,
    rgba(158, 153, 153, 1) 100%
  );
}
.about {
  background: rgba(226, 226, 226, 0.2);
  margin-bottom: 20px;
  display: block;
  &__description {
    color: rgb(25, 84, 201);
    padding: 16px;
  }
  &__heading {
    color: rgb(15, 47, 112);
    text-align: center;
  }
  &__image {
    border-top-left-radius: 100px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 60px;
    border: 5px #fff solid;
    display: block;
    margin: auto;
    max-width: 100%;
    align-self: center;
  }
}

.article {
  padding: 16px;
  &__description--js {
    color: limegreen;
  }
  &__header--js {
    color: limegreen;
  }
  &__image {
    display: block;
    max-width: 100%;
  }
  &__list {
    list-style-type: square;
    padding: 5px;
    margin-left: 5px;
  }
  &__list-item:last-child {
    color: red;
  }
  &__secondary-list {
    list-style-type: circle;
    padding: 5px;
    margin-left: 10px;
  }
}

.footer {
  color: rgb(255, 255, 255);
  background: rgb(88, 88, 88);
  max-width: 1000px;
  margin: auto;
  &__link {
    color: rgb(255, 5, 5);
  }
}
.hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3000;
  background: none;
  border: none;
}
.header {
  background: rgb(255, 255, 255);
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}
.klasa-z-js {
  background: royalblue;
}
.main {
  margin-top: 60px;
  max-width: 1000px;
  margin: 60px auto 0;
}
.main-header {
  display: inline;
  margin: auto;
  &__heading {
    padding: 16px;
    color: rgb(15, 47, 112);
    text-align: center;
    &--js {
      color: limegreen;
    }
  }
}

.navigation {
  padding: 20px;
  display: none;
  &__link {
    color: rgb(18, 19, 18);
    margin-bottom: 16px;
    font-size: 18px;
    display: block;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    &--homepage {
      color: rgb(231, 12, 195);
    }
    &:hover {
      color: rgb(30, 17, 216);
    }
  }
  &--open {
    display: flex;
    flex-flow: column nowrap;
  }
}
.section {
  background: rgba(226, 226, 226, 0.2);
  padding: 16px;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  &__header::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 18px;
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  &__image {
    display: block;
    max-width: 100%;
  }
  &__list {
    list-style-type: square;
    padding: 5px;
    margin-left: 5px;
  }
}
@media (min-width: 768px) {
  .about {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__image {
      border-top-left-radius: 150px;
      border-top-right-radius: 70px;
      border-bottom-right-radius: 150px;
      border-bottom-left-radius: 70px;
      border: 5px #fff solid;
      display: block;
      flex-shrink: 0;
    }
  }
  .article {
    &__list {
      list-style-type: square;
      padding: 20px;
    }
    &__secondary-list {
      list-style-type: circle;
      margin-left: 20px;
    }
  }
  .article-grid {
    border: white 1px solid;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }
  .hamburger {
    display: none;
  }
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
    &__link {
      color: rgb(18, 19, 18);
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 0;
      font-weight: bold;
    }
  }
  .section__list {
    list-style-type: square;
    padding: 20px;
  }
}
