html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: rgb(157, 254, 255);
  background: linear-gradient(
    0deg,
    rgba(157, 254, 255, 1) 0%,
    rgba(158, 153, 153, 1) 100%
  );
}
.about {
  background: rgb(226, 226, 226, 0.2);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;       
  align-content: center;
}
.about__description {
  color: rgb(25, 84, 201);
  padding: 16px;
}
.about__heading {
  color: rgb(15, 47, 112);
  text-align: center;
}
.about__image {
  border-top-left-radius: 150px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 70px;
  border: 5px #fff solid;
  display: block;
  max-width: 281px;
  align-self: center;
}
.article{
  padding: 16px;
}
.article__list {
  list-style-type: square;
}
.article__image {
  display: block;
  max-width: 100%;
}
.article__description--js {
  color: limegreen;
}
.article__header--js {
  color: limegreen;
}
.article__secondary-list {
  list-style-type: circle;
}

.footer {
  color: rgb(255, 255, 255);
  background: rgb(88, 88, 88);
  max-width: 1000px;
  margin: auto;
}
.footer__link {
  color: rgb(255, 5, 5);
}

.hamburger{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3000;
  background: none;
  border: none;
}
.klasa-z-js {
  background: royalblue;
}
.main {
  margin-top: 60px;
  max-width: 1000px;
  margin: 60px auto 0;
}
.main-header__heading {
  padding: 16px;
  color: rgb(15, 47, 112);
  text-align: center;
}
.main-header__heading--js {
  color: limegreen;
}
.navigation {
  padding: 20px;
  display: none;
}
.navigation--open{
  display: flex;
  flex-flow: column nowrap;
}
.header {
  background: rgba(255, 255, 255);
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}
.navigation__link {
  color: rgb(18, 19, 18);
  margin-bottom: 16px;
  font-size: 18px;
  display: block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.navigation__link--homepage {
  color: rgb(255, 0, 0);
}
.main-header {
  display: block;
  margin: auto;
}
.section {
  background: rgb(226, 226, 226, 0.2);
  padding: 16px;
  margin-bottom: 20px;
}
.section__image {
  display: block;
  max-width: 100%;
}

@media (min-width: 768px) {
  .about {
    padding: 20px;
    display: flex;
    flex-direction: row;       
    justify-content: center;
  }
  .about__image {
    border-top-left-radius: 150px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 70px;
    border: 5px #fff solid;
    display: block;
    flex-shrink: 0;
  }
  .about__wrapper{
    margin-left: 20px;
  }
  .article{
    border: white 1px solid;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;

  }
  .hamburger{
    display: none;
  }
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
  }
  .navigation__link {
    color: rgb(18, 19, 18);
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
    font-weight: bold;
  }

}